{% extends 'base.html' %}
{% load static %}
{% block content %}
    

<div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    ">

    
{% if messages %}
    
    {% for message in messages %}
    <div style="width: 50%;" class="alert alert-success" role="alert">
        <p style="display:flex; justify-content: center; align-items: center; font-size: 20px;">{{message|capfirst}}</p>
      </div>
    {% endfor %}
        
{% endif %}
   

<p style="font-weight: bold;">My Tutorials</p>
     
        
    
</div>


{% endblock content %}