{% extends 'base.html' %}
{% load static %}

<title>
  CCG |
  {% block title %}
  Tutorials
  {% endblock title %}
</title>

{% block content %}


<div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    ">


  {% if messages %}

  {% for message in messages %}
  <div style="width: 50%;" class="alert alert-success" role="alert">
    <p style="display:flex; justify-content: center; align-items: center; font-size: 20px;">{{message|capfirst}}</p>
  </div>
  {% endfor %}

  {% endif %}


  <p style="font-weight: bold;">My Tutorials</p>

  {% if request.user.user_type == "Teaching Assistant" %}
  <ol class="list-group list-group-numbered">
    {% for tutorial in tutorials %}
    <li class="list-group-item d-flex justify-content-between align-items-start" style="width: 500px;">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ tutorial.name }}</div>
        Topic: {{ tutorial.topic }}<br>
        Venue: {{ tutorial.venue }}<br>
        Date: {{ tutorial.date_and_time }}<br>
        Session: {{ tutorial.session }}
      </div>
      <a href="" style="font-size: larger;">
        <span class="badge text-bg-danger rounded-pill">Pending</span>
      </a>
    </li>
    <br>
    {% endfor %}
  </ol>
  {% else %}
  <ol class="list-group list-group-numbered">
    {% for tutorial in student_tutorials %}
    <li class="list-group-item d-flex justify-content-between align-items-start" style="width: 500px;">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ tutorial.name }}</div>
        Topic: {{ tutorial.topic }}<br>
        Venue: {{ tutorial.venue }}<br>
        Date: {{ tutorial.date_and_time }}<br>
        Session: {{ tutorial.session }}
      </div>
      <a href="" style="font-size: larger;">
        <span class="badge text-bg-danger rounded-pill">Pending</span>
      </a>
    </li>
    <br>
    {% endfor %}
  </ol>

  {% endif %}



</div>


{% endblock content %}