{% extends 'base.html' %}


{% block content %}

<div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    ">

    <h2 class="mb-4 mt-2">Lets get you registered</h2>

    <!-- <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">First Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div> -->

   
    
</div>


{% endblock content %}