{% extends 'base.html' %}


{% block content %}

<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <h3>Reference Materials</h3>
                    <p class="lead mb-0">Access the latest books, slides, academic articles, reports, etc...</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <h3>Tutorial Videos</h3>
                    <p class="lead mb-0">Pool of academic videos, Youtube, Coursera, etc</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>Questions Bank</h3>
                    <p class="lead mb-0">Unlimited Past Questions and Solution</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}